<h2>Edit <%= @character.character_name %></h2>
<form class="" action="/characters/<%= @character.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="character_name">Name: </label>
    <input type="text" name="character_name" value="<%= @character.character_name %>"><br>

    <label for="character_class">Class: </label>
    <input type="text" name="character_class" value="<%= @character.character_class %>"><br>

    <label for="species">Species: </label>
    <input type="text" name="species" value="<%= @character.species %>"><br>

    <label for="level">Level: </label>
    <input type="text" name="level" value="<%= @character.level %>"><br>

    <input type="submit" name="" value="Edit Character">
</form>