<h3><%= current_user.name %>'s Character</h3>
<h4>Name: <%= @character.character_name %></h4>
<h4>Class: <%= @character.character_class %></h4>
<h4>Species: <%= @character.species %></h4>
<h4>Level: <%= @character.level %></h4>

<a href="/characters/<%=@character.id%>/edit">Edit Character</a>

<a href="/characters/<%=@character.id%>/delete">Delete Character</a>