<h4>Character</h4>
<h4>Name: <%= @character.character_name %></h4>
<h4>Class: <%= @character.character_class %></h4>
<h4>Species: <%= @character.species %></h4>
<h4>Level: <%= @character.level %></h4>

<% if authorized_to_edit?(@character) %>
    <a href="/characters/<%=@character.id%>/edit">Edit Character</a>
    <form class="" action="/characters/<%=@character.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Delete this Character">
    </form>
<% end %>